body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: transparent;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

#song-button, #genre-button, #artist-button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.button {
    cursor: pointer;
    display: inline-block;
    padding: 8px 80px;
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
}


.button:hover
{
    background-color: rgba(255, 255, 255, 0.35);
}

#hero {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: 100;
    margin-top: 36px;
    margin-left: 30px;
    position: absolute;
    cursor: pointer;
}

#container{
    position: relative;
    width: 100%;     
}

#home-page
{
  width: 100%;
}

#background {
	background: url('back.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#title-content
{
  position: absolute;
  width: 100%;
  top: 40%;
  margin-top: -73.5px;
  color: white;
}

#title-content-title
{
  text-align:center;
  font-size: 65px;
  font-weight: 100;
}

#title-content-info
{
  text-align: center;
  margin-bottom: 20px;
  font-size: 13px;
}

#title-buttons
{
  text-align: center;
  margin-bottom: 25px;
}

#text-box
{
  background-color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.20);
  border-width: 1px;
  padding: 5px;
  width: 600px;
  color: white;
  font-family: "Open Sans";
  float: left;
}

#text-box:focus { 
    outline: none;
    border-color: rgba(255, 255, 255, 0.20);
    box-shadow: 0 0 5px #9ecaed;
}

#hero-hover
{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 111px;
    margin-left: 30px;
    position: absolute;
    cursor: pointer;
}

#form
{
  display:none;
  position:absolute;
  width: 50%;
  left: 50%;
  margin-left: -323px;
  height: 20px;
}

#hero-red
{
  display: inline;
  color: rgba(230, 24, 24, 0.9);
}

#hero-blue
{
  display: inline;
  color: rgba(218, 212, 240, 0.99);
}

#submit-button
{
  cursor: pointer;
  display: inline;
  top: 50%;
  padding: 3px 8px;
  margin-left: 5px;
  margin-top: -8px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.45);
  background-color: rgba(218, 212, 240, 0.50);
}

#submit-button:hover
{
  background-color: rgba(218, 212, 240, 0.80);
}

#result-page {
  width: 100%;
  visibility: hidden;
}

#song-side-bar {
  width: 200px;
  background: rgba(0,0,0,0.65);
  height: 78%;
  margin: 30px;
  position: absolute;
  top: 120px;
}

#song-main {
  background: rgba(0,0,0,0.7);
  height: 78%;
  margin-top: 30px;
  position: absolute;
  top: 120px;
  left: 250px;
  right: 20px;
}

#song-header-bar {
  background: rgba(0,0,0,0.65);
  height: 60px;
  position: absolute;
  top: 54px;
  left: 225px;
  right: 22px;
}

#song-header-text {
  font-size: 30px;
  position: absolute;
  top: 50%;
  font-weight: 100;
  margin-top: -20px;
  margin-left: 15px;
  color: rgba(218, 212, 240, 0.99);
}

#song-title-header-text {
  display: inline;
  color: rgba(230, 24, 24, 0.9);
}

.song-wrapper {
  border-bottom: 1px solid rgba(255,255,255, 0.20);
  height: 50px;
  color: rgb(214, 223, 244);
  position: relative;
  cursor: pointer;
}

#first-wrapper {
  border-top: 1px solid rgba(255,255,255,0.25);
}

.song-wrapper.selected {
  background: rgba(255, 0, 12, 0.04);
}

.song-title {
  font-size: 13px;
  margin-left: 10px;
  font-weight: 300;
}

.song-artist {
  margin-left: 15px;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

.song-container {
  top:50%;
  position: absolute;
  margin-top: -20px;
}

.song-wrapper:hover {
  background: rgba(255, 0, 12, 0.03);
}

#album-art {
  height: 225px;
  width: 225x;
}

.song-main-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

#album-art-container {
  margin-left: 50px;
  margin-top: 50px;
  height: 250px;
  position: relative;
}

#play-button {
  width: 60px;
  margin-top: 50px;
  position: absolute;
  padding: 30px;
  left: 51px;
  background-color: rgba(0,0,0,0.75);
  border-radius: 30px;
  visibility: hidden;
}

#album-name {
  font-weight: 400;
  margin-top: 5px;
  margin-left: 37%;
  height: 100%;
  color: white;
  top: 0;
  position: absolute;
}

#album-year {
  display: inline;
  font-style: italic;
  font-size: 20px;
  font-weight: 100;
}

#album-songs-container {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

.album-song-wrapper {
  height: 30px;
  position: relative;
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  margin-bottom: 1px;
}

.like-button {
  font-family: fantasy;
  width: 25px;
  font-size: 12px;
  height: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
  border-right: 1px solid rgba(255,255,255,0.5);
}

.track-number {
  width: 25px;
  height: 100%;
  font-size: 12px;
  display: inline-block;
  position: relative;
  margin-left: -5px;
  text-align: center;
  border-right: 1px solid rgba(255,255,255,0.5);
}

.album-song-name {
  margin-left: 10px;
  padding-right: 35%;
  font-size: 13px;
  width: 180px;
  height: 100%;
  display: inline-block;
  border-right: 1px solid rgba(255,255,255,0.5);
}

.album-song-length {
  width: 40px;
  height: 100%;
  font-size: 0.8em;
  margin-left: -5px;
  text-align: center;
  display: inline-block; 
  border-right: 1px solid rgba(255,255,255,0.5);
}

.popularity {
  height: 100%;
  padding-left: 3%;
  display: inline-block;
  text-align: right;
}

.album-text {
  position: absolute;
  top: 50%;
  margin-top: -13px;
}

.centerer {
  position: absolute;
  width: 100%;
  top:50%;
  margin-top: -11px;
}

.album-song-wrapper:hover {
  background-color: rgba(255,255,255, 0.15);
}

.album-song-wrapper.selected {
  background-color: rgba(158, 202, 237, 0.3);
}

.artist {
  display: inline-flex;
  font-size: 15px;  
}

.artist-static {
  margin-left: 30px;
  font-size: 15px;
  display: inline-block;
  width: 80px;
  font-style: italic;
}

#album-title {
  font-size: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

#contact-page {
  visibility: hidden;
}

#description-container {
  position: absolute;
  left: 30px;
  height: 80%;
  background: rgba(0,0,0, 0.7);
  top: 150px;
  right: 30px;
}

#description-centerer {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-header {
  padding: 5 10;
  color: rgba(218, 212, 240, 0.99);
  font-size: 35px;
  border-bottom: 1px dotted rgba(218, 212, 240, 0.99);
  margin-right: 25px;
  font-weight: 100;
  margin-left: 25px;
  margin-top: 10px;
}

#about-header-bar {
  background: rgba(0, 0, 0, 0.7);
  height: 60px;
  position: absolute;
  top: 54px;
  left: 225px;
  right: 30px;
}

#about-description {
  color: white;
  margin-left: 35px;
  margin-right: 40px;
  font-size: 13px;
  margin-top: 10px;
  line-height: 30px;
}

#contact-header {
  padding: 5 10;
  color: rgba(230, 24, 24, 0.9);
  font-size: 35px;
  border-bottom: 1px dotted rgba(230, 24, 24, 0.40);
  margin-right: 25px;
  font-weight: 100;
  margin-left: 25px;
  margin-top: -5px;
  text-align: right;

}

#contact-description {
  color: white;
  margin-left: 35px;
  margin-right: 40px;
  font-size: 13px;
  margin-top: 10px;
  line-height: 30px;
}

.link-header {
  width: 80px;
  margin-left: 25px;
  font-size: 12px;
  color: rgba(230, 24, 24, 0.75);
  display: inline;
}

#link-container {
  text-align: center;
  margin-top: 5px;
}

#about-page {
  width: 100%;
  visibility: hidden;
}

#about-hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 111px;
    margin-left: 115px;
    position: absolute;
    cursor: pointer;
}

#hero-text {
  font-size: 15px;
}

#hero-hover:hover {
  background-color: rgba(218, 212, 240, 0.35);
}

#about-hover:hover {
  background-color: rgba(218, 212, 240, 0.35);
}

#curr-playing-title {
  margin-top: 25px;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
}

#curr-playing {
  display: inline;
  font-size: 14px;
}

#spaces {
  display: inline;
}
